.jshintrc
.project
.idea
config.json
public/media/
public/docs/
public/bower_components/
node_modules/minify/min/
log/
node_modules
out
plugins/
!plugins/ga/*
!plugins/pencilblue/*
!plugins/portfolio/*
!plugins/sample/*
!plugins/wp_import/*
