html, body
{
    font-family: 'Helvetica', 'Arial', 'Verdana', sans-serif;
    height: 100%;
}

*
{
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

a
{
    color: #01AAD5;
    text-decoration: none;
    outline: none;
}

a:hover
{
    color: #5D5D5D;
    text-decoration: none;
    outline.none;
}

/* Clears hanging floats */
.spacer
{
    clear: both;
}

form .error
{
    font-size: .85em;
    color: #AA0000;
    margin: 0;
}

.form-control, .input-group-addon, text-area
{
    border: 1px solid #B3B3B3;
    box-shadow: none;
}

.form-control:focus, text-area:focus
{
    border: 1px solid #01AAD5;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#wrap
{
    min-height: 100%;
}

#main
{
    overflow: auto;
}

#main .row-fluid
{
    margin: 0;
}

#login_column
{
    margin: 0 auto;
    max-width: 22em;
}

#login_logo
{
    padding: 2em 0;
    width: 100%;
}

#top_menu
{
    margin-bottom: 0;
    background-color: #FFFFFF;
}

#menu_logo
{
    height: 1.25em;
    margin-top: -.375em;
}

/* ALERTS */
.alert-info
{
    background: #E7E7E7;
    color: #5D5D5D;
    border: none;
}

.error_success
{
    margin: 1em 0 0 0;
}

.alert-danger.error_success a
{
    color: #B94A48;
}

.alert-success.error_success a
{
    color: #468847;
}

/* PANELS */
.panel
{
    box-shadow: none;
}

.panel-default .panel-heading
{
    background-color: #E7E7E7;
    border: 1px solid #E7E7E7;
    color: #5D5D5D;
}

/* BUTTONS */
.btn-primary
{
    background-color: #01AAD5;
    border: 1px solid #01AAD5;
}

.btn-default:hover, .btn-primary:hover, .btn-info:hover, .btn-success:hover, .btn-warning:hover
{
    background-color: #5D5D5D;
    border: 1px solid #5D5D5D;
    color: #FFFFFF;
}

.btn-default
{
    background-color: #FFFFFF;
    border: 1px solid #B3B3B3;
}

.btn-info
{
    background-color: #B3B3B3;
    border: 1px solid #B3B3B3;
}

.btn-success
{
    background-color: #2BAA4C;
    border: 1px solid #2BAA4C;
}

.btn-warning
{
    background-color: #FF9F40;
    border: 1px solid #FF9F40;
}

/* LABELS */
.label-default
{
    background-color: #E7E7E7;
    color: #5D5D5D;
}

/* SIDE NAV */

#side_menu
{
    display: none;
}

#nav_accordion .panel-default .panel-heading, #nav_accordion .panel-default .panel-heading .panel-title 
{
    background-color: #FFFFFF;
    border: none;
    color: #5D5D5D;
}

#nav_accordion .panel-default .panel-heading:hover, #nav_accordion .panel-default .panel-heading:hover .panel-title
{
    background-color: #B3B3B3;
    color: #FFFFFF;
}

#nav_accordion .panel-primary .panel-heading, #nav_accordion .panel-primary .panel-heading .panel-title
{
    background-color: #B3B3B3;
    color: #5D5D5D;
    border: none;
}

#nav_accordion .panel-primary .panel-heading:hover, #nav_accordion .panel-primary .panel-heading:hover .panel-title
{
    background-color: #5D5D5D;
    color: #FFFFFF;
    border: none;
}

#nav_accordion .panel
{
    border: none;
    box-shadow: none;
}

#nav_accordion .panel a
{
    text-decoration: none;
}

#nav_accordion .panel-heading
{
    padding: 0;
}

#nav_accordion .panel-title
{
    padding: .75em 1.125em;
}

#nav_accordion .nav-pills li a
{
    padding-left: 3em;
}

.nav-stacked>li+li
{
    margin-top: 0;
}

.nav-pills li a
{
    color: #5D5D5D;
}

.nav-pills li a:hover
{
    background-color: #E7E7E7;
}

.nav-pills li.active a
{
    background-color: #E7E7E7;
    color: #5D5D5D;
}

.nav-pills li.active a:hover
{
    background-color: #B3B3B3;
    color: #FFFFFF;
}

/* SUB-NAV */

#sub_nav
{
    margin-bottom: .5em;
    background-color: #00FF00;
}

.sub_nav
{
    padding: 1em 0;
}

/* TABS */

.tab-content
{
    padding: .5em;
}

.nav-tabs li a
{
    color: #5D5D5D;
}

.nav-tabs li a:hover
{
    background-color: #E7E7E7;
    color: #5D5D5D;
}

.nav-tabs li.active a
{
    color: #5D5D5D;
}

.subsection_checkboxes
{
    list-style: none;
    padding: .5em .5em .5em 1em;
}

.topic, .media_item, .section_item, .child_object, .custom_object
{
    font-size: 1.05em;
    font-weight: normal;
    padding: .5em;
    float: left;
    margin: 0 .5em .5em 0;
}

.media_item a
{
    color: #5D5D5D;
}

.media_item a:hover
{
    color: #B3B3B3;
}

.topic a
{
    color: #FFFFFF;
    text-decoration: none;
}

.topic a:hover
{
    color: #428BCA;
}

#layout_content
{
    background-color: #FFFFFF;
    margin-bottom: 1em;
    padding: .5em;
    min-height: 200px;
}

#layout_editable
{
    overflow-x: hidden;
    overflow-y: scroll;
}

#layout_editable, #layout_code
{
    width: 100%;
    height: 100%;
    border: none;
}

#layout_editable:focus, #layout_code:focus
{
    outline: none;
}

#layout_code
{
    background-color: #333333;
    color: #FFFFFF;
    resize: none;
}

.footer
{
    font-size: .75em;
    padding: 1.5em;
    text-align: right;
}

@media(min-width: 992px)
{
    #top_menu
    {
        display: none;
    }
    
    #side_menu
    {
        display: block;
    }
}
