body
{
    font-family: 'Helvetica', 'Arial', 'Verdana', sans-serif;
}

form .error
{
    font-size: .85em;
    color: #AA0000;
    margin: 0;
}

#login_logo
{
    padding: 1em;
}

#sub_nav
{
    margin-bottom: .5em;
}

.tab-content
{
    padding: .5em;
}

.subsection_checkboxes
{
    list-style: none;
    padding: .5em .5em .5em 1em;
}
