*
{
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

a
{
    color: #01AAD5;
    text-decoration: none;
    outline: none;
}

a:hover
{
    color: #5D5D5D;
    text-decoration: none;
    outline: none;
}

.spacer
{
    clear: both;
}

.form_error {
  font-size: .9em;
  color: #A94442;
}

.navbar
{
    background-color: #FFFFFF;
    border: none;
}

#nav_desktop
{
    text-align: center;
    display: none;
}

#nav_desktop .navbar .nav,
#nav_desktop .navbar .nav > li
{
    float: none;
    display: inline-block;
    *display: inline; /* ie7 fix */
    *zoom: 1; /* hasLayout ie7 trigger */
    vertical-align: top;
}

#nav_desktop .navbar-inner
{
    text-align: center;
}

#nav_desktop .navbar-inner li
{
    text-align: left;
}

#no_articles
{
    font-size: 1.25em;
    text-align: center;
}

.article
{
    font-size: 1.125em;
}

.article h1
{
    margin: .5em 0;
}

.article h2, .article h3, .article h4, .article h5
{
    margin: 0 0 .5em 0;
}

.byline
{
    margin: 0 1em .5em 0;
    min-width: 16em;
}

.byline .pull-left
{
    width: 5em;
    height: 5em;
    margin: 0;
    overflow: hidden;
}

.byline .media-body
{
    margin: 0;
    padding: .5em;
    height: 5em;
}

.byline .media-heading
{
    margin: 0;
}

.timestamp
{
    color: #888888;
    font-size: .9em;
}

.media_embed
{
    display: inline-block;
    position: relative;
    max-width: 100%;
}

.media_embed img, .media_embed iframe
{
    border-radius: .25em .25em 0 0;
    max-width: 100%;
}

.media_caption
{
    padding: .5em;
    font-size: .9em;
    border-radius: 0 0 .25em .25em;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#login_logo
{
    padding: 1em;
    text-align: center;
}

#login_logo img
{
    max-width: 100%;
}

.forgot_password
{
    font-size: .9em;
    margin-top: .5em;
    text-align: right;
}

/* BUTTONS */
.btn-primary
{
    background-color: #01AAD5;
    border: 1px solid #01AAD5;
}

.btn-default:hover, .btn-primary:hover, .btn-info:hover, .btn-success:hover, .btn-warning:hover
{
    background-color: #5D5D5D;
    border: 1px solid #5D5D5D;
    color: #FFFFFF;
}

.btn-default
{
    background-color: #FFFFFF;
    border: 1px solid #B3B3B3;
}

.btn-info
{
    background-color: #B3B3B3;
    border: 1px solid #B3B3B3;
}

.btn-success
{
    background-color: #2BAA4C;
    border: 1px solid #2BAA4C;
}

.btn-warning
{
    background-color: #FF9F40;
    border: 1px solid #FF9F40;
}

/* LABELS */
.label-default
{
    background-color: #E7E7E7;
    color: #5D5D5D;
}

footer
{
    margin: 2em 0 1em 0;
    width: 100%;
    font-size: .9em;
    text-align: center;
}

@media(min-width: 480px)
{
    .byline
    {
        float: left;
    }
}

@media(min-width: 768px)
{
    #navbar_brand_mobile, #nav_items_mobile
    {
        display: none;
    }

    #nav_desktop
    {
        margin: 0;
        display: block;
    }
}
