<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-3">
            ^error^
            ^success^
            <div class="panel panel-default">
                <div class="panel-heading">^loc_NEW_USER^</div>
                <div class="panel-body">
                    <form id="new_user_form" method="post" action="^site_root^/actions/admin/users/new_user">
                        <fieldset>
                            <div class="form-group">
                                <input type="text" id="username" name="username" class="form-control" placeholder="^loc_USERNAME^*"></input>
                            </div>
                            <div class="form-group">
                                <input type="text" id="first_name" name="first_name" class="form-control" placeholder="^loc_FIRST_NAME^"></input>
                            </div>
                            <div class="form-group">
                                <input type="text" id="last_name" name="last_name" class="form-control" placeholder="^loc_LAST_NAME^"></input>
                            </div>
                            <div class="form-group">
                                <input type="email" id="email" name="email" class="form-control" placeholder="^loc_EMAIL^*"></input>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="password" id="password" name="password" class="form-control" placeholder="^loc_PASSWORD^*" onkeyup="checkPasswordMatch()"></input>
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" onclick="generatePassword()">^loc_GENERATE^...</button>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="password" id="confirm_password" name="confirm_password" class="form-control" placeholder="^loc_CONFIRM_PASSWORD^*" onkeyup="checkPasswordMatch()"></input>
                                    <span class="input-group-addon"><span id="password_check" class="glyphicon glyphicon-thumbs-down"></span></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <select id="admin" name="admin" class="form-control">
                                    ^admin_options^
                                </select>
                            </div>
                            <input type="submit" class="btn btn-lg btn-info btn-block" value="^loc_CREATE_USER^">
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="^site_root^/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="^site_root^/js/admin/users/new_user.js"></script>
