^tmp_admin=head^
<script src="/js/admin/plugins/index.js"></script>
<div class="col-md-9">
    ^error_success^
    ^tmp_admin=elements=sub_nav^
    ^tmp_admin=elements=tab_nav^
    <div class="tab-content">
        <div class="tab-pane active" id="themes">
		    <form method="POST" role="form">
		        <div class="form-group">
                    <div class="input-group">
    		            <select id="active_theme" name="active_theme" class="form-control" autocomplete="false">
    		                <option ng-repeat="t in options" value="{{t.uid}}" ng-selected="t.uid === activeTheme">{{t.name}}</option>
    		            </select>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" onclick="javascript:setTheme();"><i class="fa fa-check-square-o"></i>&nbsp;^loc_SET_THEME^</button>
                        </span>
                    </div>
		        </div>
		    </form>
            <div class="panel panel-default">
                <div class="panel-heading">
                    ^loc_THEMES^
                </div>
                <div class="table_container">
                    <table id="themes_table" class="table table-responsive table-condensed">
                        <tr id="themes_table_header">
                            <th id="theme_name_header">^loc_NAME^</th>
                            <th id="theme_description_header">^loc_VERSION^</th>
                            <th id="theme_date_header">^loc_INSTALLED_ON^</th>
                            <th id="theme_active_header">^loc_ACTIVE^</th>
                            <th></th>
                        </tr>
                        <tr class="theme_row" ng-repeat="t in themes track by themes.uid" on-finish-render ng-cloak>
                            <td><a ng-href="/admin/plugins/view/{{t.uid}}" title="{{t.description}}">{{t.uid}}</a></td>
                            <td class="theme_version">{{t.version}}</td>
                            <td class="installed_on_date">{{t.created | date: 'yyyy-MM-dd HH:mm'}}</td>
                            <td><i class="fa fa-check" ng-if="t.uid === activeTheme"></i></td>
                            <td style="text-align: right">
                                <div class="btn-group">
                                    <a class="btn btn-sm btn-default" href="/admin/themes/settings/{{t.uid}}"><i class="fa fa-cog"></i>&nbsp;^loc_SETTINGS^</a>
                                    <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-sm fa-chevron-down"></i>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="javascript:resetSettings('{{t.uid}}');"><i class="fa fa-fw fa-refresh"></i>&nbsp;^loc_RESET_SETTINGS^</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="site_logo">
            <form role="form" class="form" action="/actions/admin/themes/" method="post">
                ^tmp_admin=elements=upload_and_link_photo^
                <a class="btn btn-default" href="/admin/themes">
                    <i class="fa fa-ban"></i>&nbsp;^loc_CANCEL^
                </a>
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-save"></i>&nbsp;^loc_SAVE^
                </button>
            </form>
        </div>
    </div>
</div>
^tmp_admin=elements=progress_console_modal^
^tmp_admin=footer^
