<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <title>^site_name^^page_name^</title>
        <meta name="description" content="^meta_desc^">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
        
        <link rel="stylesheet" type="text/css" href="^site_root^/css/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="^site_root^/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="^site_root^/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="^site_root^/css/jquery.fileupload.css">
        <link rel="stylesheet" type="text/css" href="^site_root^/css/jquery.datetimepicker.min.css">
        <link rel="stylesheet" type="text/css" href="^site_root^/css/admin.css">
        
        <script type="text/javascript" src="^site_root^/js/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="^site_root^/js/jquery-ui-1.10.3.custom.min.js"></script>
        <script type="text/javascript" src="^site_root^/js/jquery.ui.touch-punch.min.js"></script>
        <script type="text/javascript" src="^site_root^/js/jquery.datetimepicker.min.js"></script>
        <script type="text/javascript" src="^site_root^/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div id="wrap">
            ^tmp_admin=elements=admin_nav^
