<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge">14</span>
                    <a href="#">Inbox</a>
                </li>
                <li class="list-group-item">
                    <span class="badge">10</span>
                    Comments
                </li>
                <li class="list-group-item">
                    <span class="badge">1</span>
                    Drafts
                </li>
                <li class="list-group-item">
                    <span class="badge">3</span>
                    Users
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            right
        </div>
    </div>
</div>
