^tmp_admin=head^
<div class="col-md-9" style="margin-top: 1em">
    <div class="alert alert-success">This will be the dashboard of the admin section. It will contain basic stats on site usage and the latest news from the PencilBlue team.</div>
    <div class="row">
        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="contentInfoItem in contentInfo" ng-cloak>
                    <span class="badge">{{contentInfoItem.count}}</span>
                    <a href="{{contentInfoItem.href}}">{{contentInfoItem.name}}</a>
                </li
            </ul>
        </div>
        <div class="col-md-9">
            
        </div>
    </div>
</div>
^tmp_footer^
