^tmp_admin=head^
<div class="col-md-9">
    ^error_success^
    ^tmp_admin=elements=sub_nav^
    ^tmp_admin=elements=tab_nav^
    <form id="new_object_type_form" method="post" action="^site_root^/actions/admin/content/custom_objects/new_object_type">
        <fieldset>
            <div class="tab-content">
                <div class="tab-pane active" id="object_settings">
                    <div class="form-group">
                        <label>^loc_NAME^</label>
                        <div class="input-group">
                            <input type="text" id="name" name="name" class="form-control" onkeyup="resetNameAvailability()"></input>
                            <span class="input-group-btn">
                                <button id="name_availability_button" class="btn btn-default" type="button" onclick="validateName()">^loc_CHECK^</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="object_fields">
                    <div id="custom_fields_container"></div>
                    <div id="custom_field_buttons">
                        <label>^loc_ADD_FIELD^...</label><br/>
                        <button type="button" class="btn btn-success" onclick="addCustomField('#value_template')" style="margin-bottom: .5em">
                            <i class="fa fa-keyboard-o"></i>&nbsp;^loc_VALUE^
                        </button>
                        <button type="button" class="btn btn-success" onclick="addCustomField('#date_template')" style="margin-bottom: .5em">
                            <i class="fa fa-calendar"></i>&nbsp;^loc_DATE^
                        </button>
                        <button type="button" class="btn btn-success" onclick="addCustomField('#peer_object_template')" style="margin-bottom: .5em">
                            <i class="fa fa-link"></i>&nbsp;^loc_PEER_OBJECT^
                        </button>
                        <button type="button" class="btn btn-success" onclick="addCustomField('#child_objects_template')" style="margin-bottom: .5em">
                            <i class="fa fa-sitemap"></i>&nbsp;^loc_CHILD_OBJECTS^
                        </button>
                    </div>
                    <div id="field_templates">
                        <div id="value_template" style="display: none">
                            <div id="custom_field_^index^" class="form-group">
                                <label>^loc_VALUE^</label>
                                <div class="input-group value">
                                    <span class="input-group-addon"><i class="fa fa-bars"></i></span>
                                    <input type="text" id="value_^index^" name="value_^index^" class="form-control" placeholder="^loc_NAME^"></input>
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span id="object_type_^index^">^loc_TEXT^</span>&nbsp;<span class="caret"></span></button>
                                        <ul class="dropdown-menu pull-right">
                                            <li><a href="javascript:selectObjectType('^loc_TEXT^', ^index^)">^loc_TEXT^</a></li>
                                            <li><a href="javascript:selectObjectType('^loc_NUMBER^', ^index^)">^loc_NUMBER^</a></li>
                                        </ul>
                                    </div>
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" onclick="removeCustomField(^index^)"><i class="fa fa-times"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div id="date_template" style="display: none">
                            <div id="custom_field_^index^" class="form-group">
                                <label>^loc_DATE^</label>
                                <div class="input-group date">
                                    <span class="input-group-addon"><i class="fa fa-bars"></i></span>
                                    <input type="text" id="date_^index^" name="date_^index^" class="form-control" placeholder="^loc_NAME^"></input>
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" onclick="removeCustomField(^index^)"><i class="fa fa-times"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div id="peer_object_template" style="display: none">
                            <div id="custom_field_^index^" class="form-group">
                                <label>^loc_PEER_OBJECT^</label>
                                <div class="input-group peer_object">
                                    <span class="input-group-addon"><i class="fa fa-bars"></i></span>
                                    <input type="text" id="peer_object_^index^" name="peer_object_^index^" class="form-control" placeholder="^loc_NAME^"></input>
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span id="object_type_^index^">^loc_OBJECT_TYPE^</span>&nbsp;<span class="caret"></span></button>
                                        <ul class="dropdown-menu pull-right">
                                            <li><a href="javascript:selectObjectType('{{objectType}}', ^index^)" ng-repeat="objectType in objectTypes">{{objectType}}</a></li>
                                        </ul>
                                    </div>
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" onclick="removeCustomField(^index^)"><i class="fa fa-times"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div id="child_objects_template" style="display: none">
                            <div id="custom_field_^index^" class="form-group">
                                <label>^loc_CHILD_OBJECTS^</label>
                                <div class="input-group child_objects">
                                    <span class="input-group-addon"><i class="fa fa-bars"></i></span>
                                    <input type="text" id="child_objects_^index^" name="child_objects_^index^" class="form-control" placeholder="^loc_NAME^"></input>
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span id="object_type_^index^">^loc_OBJECT_TYPE^</span>&nbsp;<span class="caret"></span></button>
                                        <ul class="dropdown-menu pull-right">
                                            <li><a href="javascript:selectObjectType('{{objectType}}', ^index^)" ng-repeat="objectType in objectTypes">{{objectType}}</a></li>
                                        </ul>
                                    </div>
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" onclick="removeCustomField(^index^)"><i class="fa fa-times"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a type="button" class="btn btn-default" href="/admin/content/custom_objects/manage_object_types">
                    <i class="fa fa-ban"></i>&nbsp;^loc_CANCEL^
                </a>
                <button type="button" class="btn btn-primary" onclick="prepareNewObjectTypeSave()">
                    <i class="fa fa-save"></i>&nbsp;^loc_SAVE^
                </button>
            </div>
        </fieldset>
    </form>
</div>
<script type="text/javascript" src="/js/admin/content/custom_objects/new_object_type.js"></script>
^tmp_admin=footer^
