<div id="article_^article_id^" class="article" article-index="^article_index^">
    <div class="col-md-8 col-md-offset-2">
        <h1>^article_headline^</h1>
        <h3 style="^article_subheading_display^">^article_subheading^</h3>
        <div class="article_body">
            ^tmp_elements=article=byline^
            <div class="timestamp" style="^article_timestamp_display^">^article_timestamp^</div>
            ^article_layout^
        </div>
        ^comments^
        <div class="spacer"></div>
    </div>
</div>

