<div id="article_{{article._id}}" class="article" article-index="{{$index}}" ng-repeat="article in articles" ng-cloak>
    <h1>{{article.headline}}</h1>
    <h3 ng-if="article.subheading.length > 0">{{article.subheading}}</h3>
    <div class="article_body">
        <div class="media byline" ng-if="contentSettings.display_bylines && article.object_type == 'article'">
            <span class="pull-left" ng-if="article.author_photo">
                <img class="media-object" src="{{article.author_photo}}" style="width: 5em"></img>
            </span>
            <div class="media-body" style="{{article.media_body_style}}">
                <h4 class="media-heading">{{article.author_name}}</h4>
                {{article.author_position}}
            </div>
        </div>
        <div class="timestamp" ng-if="article.timestamp">{{article.timestamp}}</div>
        <span ng-bind-html="trustHTML(article.layout)"></span>
    </div>
    ^comments^
    <div class="spacer"></div>
</div>

