
<!-- Modal -->
<div class="modal fade" id="privacy_policy_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">^loc_PRIVACY_POLICY^</h4>
      </div>
      <div class="modal-body">
          <b>Information you provide us directly:</b><br/>
We ask for certain information such as your username, real name, birthdate, address, phone number and e-mail address when you register for a wikiHow account, or if you correspond with us. We may also retain any messages you send through the Service, and may collect information you provide in User Content you post to the Service. We use this information to operate, maintain, and provide to you the features and functionality of the Service. Your username and if you choose to disclose it, your real name, will be published publicly. Once published your username and / or real name may not be able to be removed.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">^loc_CLOSE^</button>
      </div>
    </div>
  </div>
</div>