<nav class="navbar navbar-default" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="^site_root^" style="padding: .4em">
            <img src="{{themeSettings.site_logo}}" style="max-height: 32px" ng-cloak></img>
        </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-fixed">
            <li class="{{navItem.dropdown}} {{navItem.active}}" ng-repeat="navItem in navigation" ng-cloak>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" ng-if="navItem.dropdown">
                    {{navItem.name}}&nbsp;<span class="caret"></span>
                </a>
                <a href="/{{navItem.url}}" ng-if="!navItem.dropdown">
                    {{navItem.name}}
                </a>
                <ul class="dropdown-menu" ng-if="navItem.dropdown">
                    <li class="{{childItem.active}}" ng-repeat="childItem in navItem.children">
                        <a href="/{{childItem.url}}">
                            {{childItem.name}}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" ng-cloak>
            <li ng-repeat="accountButton in accountButtons" ng-cloak>
                <a href="{{accountButton.href}}">
                    <i class="fa fa-{{accountButton.icon}} fa-lg"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>
