<div class="col-md-3" style="padding-left: 0">
    <div>
        <a class="navbar-brand" href="/admin">
            <img src="/img/logo_menu.png"></img>
        </a>
    </div>
    <div class="spacer"></div>
    <div class="panel-group" id="nav_accordion">
        <span ng-repeat="navItem in navigation">
            <div class="panel panel-default" ng-if="!navItem.active" ng-cloak>
                <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#nav_accordion" href="#{{navItem.id}}_collapse" ng-if="navItem.dropdown">
                        <div class="panel-title">
                            <i class="fa fa-{{navItem.icon}}"></i>&nbsp;{{navItem.title}}
                        </div>
                    </a>
                    <a href="{{navItem.href}}" ng-if="!navItem.dropdown">
                        <div class="panel-title">
                            <i class="fa fa-{{navItem.icon}}"></i>&nbsp;{{navItem.title}}
                        </div>
                    </a>
                </div>
                <div id="{{navItem.id}}_collapse" class="panel-collapse collapse" ng-if="navItem.dropdown">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="{{childItem.active}}" ng-repeat="childItem in navItem.children" ng-cloak>
                            <a href="{{childItem.href}}">
                                <i class="fa fa-{{childItem.icon}}"></i>&nbsp;{{childItem.title}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-primary" ng-if="navItem.active" ng-cloak>
                <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#nav_accordion" href="#{{navItem.id}}_collapse" ng-if="navItem.dropdown">
                        <div class="panel-title">
                            <i class="fa fa-{{navItem.icon}}"></i>&nbsp;{{navItem.title}}
                        </div>
                    </a>
                    <a href="{{navItem.href}}" ng-if="!navItem.dropdown">
                        <div class="panel-title">
                            <i class="fa fa-{{navItem.icon}}"></i>&nbsp;{{navItem.title}}
                        </div>
                    </a>
                </div>
                <div id="{{navItem.id}}_collapse" class="panel-collapse collapse in" ng-if="navItem.dropdown">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="{{childItem.active}}" ng-repeat="childItem in navItem.children" ng-cloak>
                            <a href="{{childItem.href}}">
                                <i class="fa fa-{{childItem.icon}}"></i>&nbsp;{{childItem.title}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </span>
    </div>
</div>
