<div id="layout_editor" style="">
    <div id="layout_controls" class="well well-sm" style="margin-bottom: 0">
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group">
                <button type="button" class="btn btn-default">^loc_NORMAL_TEXT^</button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#"><blockquote style="margin: 0">^loc_QUOTE^</blockquote></a></li>
                    <li><a href="#"><h1 style="margin: 0">^loc_HEADING_1^</h1></a></li>
                    <li><a href="#"><h2 style="margin: 0">^loc_HEADING_2^</h2></a></li>
                    <li><a href="#"><h3 style="margin: 0">^loc_HEADING_3^</h3></a></li>
                    <li><a href="#"><h4 style="margin: 0">^loc_HEADING_4^</h4></a></li>
                </ul>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default"><span id="font_size">11</span></button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">8</a></li>
                    <li><a href="#">9</a></li>
                    <li><a href="#">10</a></li>
                    <li><a href="#">11</a></li>
                    <li><a href="#">12</a></li>
                    <li><a href="#">14</a></li>
                    <li><a href="#">18</a></li>
                    <li><a href="#">24</a></li>
                    <li><a href="#">30</a></li>
                    <li><a href="#">36</a></li>
                    <li><a href="#">48</a></li>
                    <li><a href="#">60</a></li>
                    <li><a href="#">72</a></li>
                    <li><a href="#">96</a></li>
                </ul>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default"><i class="fa fa-bold"></i></button>
                <button type="button" class="btn btn-default"><i class="fa fa-italic"></i></button>
                <button type="button" class="btn btn-default"><i class="fa fa-underline"></i></button>
                <button type="button" class="btn btn-default"><i class="fa fa-ban"></i></button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default"><i class="fa fa-align-left"></i></button>
                <button type="button" class="btn btn-default"><i class="fa fa-align-center"></i></button>
                <button type="button" class="btn btn-default"><i class="fa fa-align-right"></i></button>
                <button type="button" class="btn btn-default"><i class="fa fa-align-justify"></i></button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default"><i class="fa fa-link"></i></button>
                <button type="button" class="btn btn-default"><i class="fa fa-picture-o"></i></button>
                <button type="button" class="btn btn-default"><i class="fa fa-list-ol"></i></button>
                <button type="button" class="btn btn-default"><i class="fa fa-list-ul"></i></button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default" onclick="toggleLayoutFullscreen()"><i class="fa fa-arrows-alt"></i></button>
                <button type="button" class="btn btn-default"><i class="fa fa-code"></i></button>
            </div>
        </div>
    </div>
    <div id="layout_content" style="margin-bottom: 1em">
        <textarea id="layout_code" class="form-control" style="min-height: 200px"></textarea>
    </div>
</div>
<script type="text/javascript" src="^site_root^/js/admin/elements/content_layout.js"></script>
