<div id="layout_editor" style="">
    <div id="layout_controls" class="well well-sm" style="margin-bottom: 0">
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group">
                <button id="format_type_button" type="button" class="btn btn-default" onclick="formatBlock('div', '^loc_NORMAL_TEXT^')">^loc_NORMAL_TEXT^</button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" id="format_type_dropdown" role="menu">
                    <li><a href="javascript:formatBlock('div', '^loc_NORMAL_TEXT^')">^loc_NORMAL_TEXT^</a></li>
                    <li><a href="javascript:formatBlock('blockquote', '^loc_QUOTE^')"><blockquote style="margin: 0">^loc_QUOTE^</blockquote></a></li>
                    <li><a href="javascript:formatBlock('h1', '^loc_HEADING_1^')"><h1 style="margin: 0">^loc_HEADING_1^</h1></a></li>
                    <li><a href="javascript:formatBlock('h2', '^loc_HEADING_2^')"><h2 style="margin: 0">^loc_HEADING_2^</h2></a></li>
                    <li><a href="javascript:formatBlock('h3', '^loc_HEADING_3^')"><h3 style="margin: 0">^loc_HEADING_3^</h3></a></li>
                    <li><a href="javascript:formatBlock('h4', '^loc_HEADING_4^')"><h4 style="margin: 0">^loc_HEADING_4^</h4></a></li>
                    <li><a href="javascript:formatBlock('h5', '^loc_HEADING_5^')"><h5 style="margin: 0">^loc_HEADING_5^</h5></a></li>
                    <li><a href="javascript:formatBlock('h6', '^loc_HEADING_6^')"><h6 style="margin: 0">^loc_HEADING_6^</h6></a></li>
                </ul>
            </div>
            <div id="text_format_group" class="btn-group">
                <button type="button" class="btn btn-default" onclick="layoutFormat('bold')" data-format-type="bold"><i class="fa fa-bold"></i></button>
                <button type="button" class="btn btn-default" onclick="layoutFormat('italic')" data-format-type="italic"><i class="fa fa-italic"></i></button>
                <button type="button" class="btn btn-default" onclick="layoutFormat('underline')" data-format-type="underline"><i class="fa fa-underline"></i></button>
                <button type="button" class="btn btn-default" onclick="layoutFormat('strikeThrough')" data-format-type="strikethrough"><i class="fa fa-strikethrough"></i></button>
                <button id="clear_button" type="button" class="btn btn-default" onclick="clearAllLayoutStyles()"><i class="fa fa-ban"></i></button>
            </div>
            <div class="btn-group" id="justify_group" data-toggle="buttons">
                <button type="button" class="btn btn-default" onclick="layoutFormat('justifyleft')" data-format-type="justifyleft"><i class="fa fa-align-left"></i></button>
                <button type="button" class="btn btn-default" onclick="layoutFormat('justifycenter')" data-format-type="justifycenter"><i class="fa fa-align-center"></i></button>
                <button type="button" class="btn btn-default" onclick="layoutFormat('justifyright')" data-format-type="justifyright"><i class="fa fa-align-right"></i></button>
                <button type="button" class="btn btn-default" onclick="layoutFormat('justifyfull')" data-format-type="justifyfull"><i class="fa fa-align-justify"></i></button>
            </div>
            <div class="btn-group" id="layout_list_group">
                <button type="button" class="btn btn-default" onclick="layoutFormat('insertorderedlist')" data-format-type="insertorderedlist"><i class="fa fa-list-ol"></i></button>
                <button type="button" class="btn btn-default" onclick="layoutFormat('insertunorderedlist')" data-format-type="insertunorderedlist"><i class="fa fa-list-ul"></i></button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default" onclick="showContentLayoutModal('add_layout_link')"><i class="fa fa-link"></i></button>
                <button type="button" id="media_button" class="btn btn-default" onclick="showContentLayoutModal('add_layout_media')"><i class="fa fa-picture-o"></i></button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default" data-toggle="button" onclick="toggleLayoutFullscreen()"><i class="fa fa-arrows-alt"></i></button>
                <button type="button" class="btn btn-default" data-toggle="button" onclick="toggleCodeView()"><i class="fa fa-code"></i></button>
            </div>
        </div>
    </div>
    <div id="layout_content" class="form-control" onmouseup="onLayoutEditableChanged()">
        <div id="layout_editable" onkeyup="onLayoutEditableChanged()" contenteditable></div>
        <textarea id="layout_code" style="display: none" onkeyup="onLayoutCodeChanged()"></textarea>
    </div>
</div>
<div class="modal fade" id="content_layout_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="add_layout_link">^loc_ADD_LINK^</span>
                <span class="add_layout_media">^loc_ADD_MEDIA^</span>
            </div>
            <div class="modal-body">
                <span class="add_layout_link">
                    <div class="form-group">
                        <label>^loc_LINK_URL^</label>
                        <input type="text" id="layout_link_url" name="layout_link_url" class="form-control"></input>
                    </div>
                    <div class="form-group">
                        <label>^loc_LINK_TEXT^</label>
                        <input type="text" id="layout_link_text" name="layout_link_text" class="form-control"></input>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="link_in_tab">^loc_LINK_IN_TAB^
                        </label>
                    </div>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <i class="fa fa-ban"></i>&nbsp;^loc_CANCEL^
                    </button>
                    <button id="add_link_button" type="button" class="btn btn-success" onclick="window.open($('#layout_link_url').val(), '_blank')">
                        <i class="fa fa-eye"></i>&nbsp;^loc_TEST_LINK^
                    </button>
                    <button id="add_link_button" type="button" class="btn btn-primary" onclick="addLayoutLink()">
                        <i class="fa fa-plus"></i>&nbsp;^loc_INSERT_LINK^
                    </button>
                </span>
                <span class="add_layout_media">
                    <label>^loc_SELECT_MEDIA^</label>
                    <div id="layout_media_options"></div>
                    <div id="layout_media_format" style="display: none; margin-bottom: .5em">
                        <label>^loc_MEDIA_FORMATTING^</label><br/>
                        <div id="media_position_radio" class="btn-group" data-toggle="buttons" style="margin-bottom: .5em">
                            <label class="btn btn-primary active">
                                <i class="fa fa-align-left"></i>&nbsp;
                                <input type="radio" name="media_position" id="left">^loc_LEFT^
                            </label>
                            <label class="btn btn-primary">
                                <i class="fa fa-align-center"></i>&nbsp;
                                <input type="radio" name="media_position" id="center">^loc_CENTER^
                            </label>
                            <label class="btn btn-primary">
                                <i class="fa fa-align-right"></i>&nbsp;
                                <input type="radio" name="media_position" id="right">^loc_RIGHT^
                            </label>
                        </div>
                        <div class="spacer"></div>
                        <label>^loc_MAXIMUM_HEIGHT^</label>
                        <div class="input-group">
                            <input type="number" id="media_max_height" name="media_max_height" class="form-control"></input>
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span id="media_max_height_unit">px</span>&nbsp;<span class="caret"></span></button>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:setMediaMaxHeightUnit('px')">px</a></li>
                                        <li><a href="javascript:setMediaMaxHeightUnit('em')">em</a></li>
                                        <li><a href="javascript:setMediaMaxHeightUnit('%')">%</a></li>
                                    </ul>
                                </button>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <i class="fa fa-ban"></i>&nbsp;^loc_CANCEL^
                    </button>
                    <button id="add_link_button" type="button" class="btn btn-primary" onclick="addLayoutMedia()">
                        <i class="fa fa-plus"></i>&nbsp;^loc_INSERT_MEDIA^
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/admin/elements/content_layout.js"></script>
