<div id="content_search_panel" class="panel panel-info">
    <input id="content_type" type="hidden" value="^content_type^"/>
    <input id="selection_id_field" type="hidden" value="^selection_id_field^"/>
    <input id="selection_display_field" type="hidden" value="^selection_display_field^"/>
    <div class="panel-heading">
        <div class="input-group">
            <input type="text" id="content_search" name="content_search" class="form-control"></input>
            <span class="input-group-btn">
                <button id="topic_search_button" class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            var input = $('#content_search');
            input.autocomplete({
                source: function( request, response ) {
                    $.ajax({
                        url: "/api/content/search/",
                        dataType: "json",
                        data: {
                           type: $('#content_type').val(),
                           q: $('#content_search').val(),
                        },
                        success: function( data ) {
                            response( $.map( data.data, function( item ) {
                                return {
                                    label: item.display,
                                    value: item._id
                                }
                            }));
                        }
                    });
                },
                minLength: 3,
                select: function( event, ui ) {
                	var displayFieldName = $('#selection_display_field').val();
                	var idFieldName      = $('#selection_id_field').val();
                	$('#'+displayFieldName).val(ui.item.label);
                	$('#'+idFieldName).val(ui.item.label);
                    this.value = '';
                },
                 open: function() {
                        //$( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
                 },
                 close: function() {
                        //$( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
                 }
            });
        });
    </script>
</div>