<div class="panel panel-default">
    <div class="panel-heading">^loc_ACTIVE_SECTIONS^...</div>
    <div id="active_sections" class="panel-body" style="min-height: 100px"></div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <div style="padding-bottom: .5em">^loc_INACTIVE_SECTIONS^...</div>
        <div class="input-group">
            <input type="text" id="section_search" name="section_search" class="form-control" placeholder="^loc_NARROW_RESULTS^..."></input>
            <span class="input-group-btn">
                <button id="section_search_button" class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </div>
    <div id="inactive_sections" class="panel-body" style="min-height: 100px">
        <div id="section_{{section._id}}" class="label label-default section_item" ng-repeat="section in sections track by section._id" ng-cloak>
            <i class="fa fa-bars"></i>&nbsp;
            <span class="section_name">{{section.name}}</span>
        </div>
        <div class="spacer"></div>
        <ul id="sections_pagination" class="pagination"></ul>
    </div>
</div>
<script type="text/javascript" src="/js/admin/elements/pagination.js"></script>
<script type="text/javascript" src="/js/admin/elements/section_select.js"></script>
