<div class="panel panel-default">
    <div class="panel-heading">^loc_ACTIVE_TOPICS^...</div>
    <div id="active_topics" class="panel-body" style="min-height: 100px"></div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        ^loc_INACTIVE_TOPICS^...
        <div class="input-group">
            <input type="text" id="topic_search" name="topic_search" class="form-control"></input>
            <span class="input-group-btn">
                <button id="topic_search_button" class="btn btn-default" type="button"><i class="fa fa-search"></i></span></button>
            </span>
        </div>
    </div>
    <div id="inactive_topics" class="panel-body" style="min-height: 100px">
        ^topic_options^
    </div>
</div>
<script type="text/javascript" src="^site_root^/js/jnarrow-0.1.1.min.js"></script>
<script type="text/javascript" src="^site_root^/js/admin/elements/topic_select.js"></script>
