<div class="form-group">
    <label>^image_title^</label><br/>
    <img id="uploaded_image_preview" ng-src="^uploaded_image^" style="max-height: 10em" />
    <input type="text" id="uploaded_image" name="uploaded_image" class="form-control" value="^uploaded_image^" style="display: none"></input>
</div>
<div class="form-group">
    <button type="button" class="btn btn-success" onclick="showImageModal('#link_to_image')">
        <i class="fa fa-link"></i>&nbsp;^loc_LINK_TO_IMAGE^...
    </button>
    <button type="button" class="btn btn-primary" onclick="showImageModal('#upload_image')">
        <i class="fa fa-upload"></i>&nbsp;^loc_UPLOAD_IMAGE^...
    </button>
</div>
<div class="modal fade" id="image_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                ^loc_UPLOAD_IMAGE^
            </div>
            <div class="modal-body">
                <span id="link_to_image">
                    <div class="form-group">
                        <label>^loc_IMAGE_URL^</label>
                        <input type="text" id="image_url" name="image_url" class="form-control" placeholder="^loc_IMAGE_URL_PLACEHOLDER^"></input>
                    </div>
                    <div id="link_loading" class="progress progress-striped active" style="display: none"><div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div></div>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <i class="fa fa-ban"></i>&nbsp;^loc_CANCEL^
                    </button>
                    <button type="button" id="link_button" class="btn btn-primary" onclick="validateImageURL($('#image_url').val(), false)">
                        <i class="fa fa-link"></i>&nbsp;^loc_LOAD_LINK^
                    </button>
                </span>
                <span id="upload_image">
                    <div id="upload_progress" class="progress progress-striped active" style="display: none"><div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div></div>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <i class="fa fa-ban"></i>&nbsp;^loc_CANCEL^
                    </button>
                    <span class="btn btn-success fileinput-button">
                        <i class="fa fa-plus"></i>
                        <span>^loc_SELECT_FILE^...</span>
                        <input id="image_file" type="file" name="image_file">
                    </span>
                </span>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="^jquery_iframe_transport_src^"></script>
<script type="text/javascript" src="^jquery_file_upload_js_src^"></script>
<script type="text/javascript" src="/js/admin/elements/upload_and_link_photo.js"></script>
<script type="text/javascript">
    setupUpload('^site_root^');
</script>
