<div id="wysiwyg_^wys_id^" class="wysiwyg">
    <div class="wysiwyg_buttons well well-sm" style="margin-bottom: 0">
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="text_type_name">^loc_NORMAL_TEXT^</span>&nbsp;<i class="fa fa-chevron-down"></i>
                </button>
                <ul class="dropdown-menu" id="format_type_dropdown" role="menu">
                    <li><a href="javascript:formatBlock('div', '^loc_NORMAL_TEXT^')">^loc_NORMAL_TEXT^</a></li>
                    <li><a href="javascript:formatBlock('blockquote', '^loc_QUOTE^')">^loc_QUOTE^</a></li>
                    <li><a href="javascript:formatBlock('h1', '^loc_HEADING_1^')">^loc_HEADING_1^</a></li>
                    <li><a href="javascript:formatBlock('h2', '^loc_HEADING_2^')">^loc_HEADING_2^</a></li>
                    <li><a href="javascript:formatBlock('h3', '^loc_HEADING_3^')">^loc_HEADING_3^</a></li>
                    <li><a href="javascript:formatBlock('h4', '^loc_HEADING_4^')">^loc_HEADING_4^</a></li>
                    <li><a href="javascript:formatBlock('h5', '^loc_HEADING_5^')">^loc_HEADING_5^</a></li>
                    <li><a href="javascript:formatBlock('h6', '^loc_HEADING_6^')">^loc_HEADING_6^</a></li>
                </ul>
            </div>
            <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-default" onclick="layoutFormat('bold')" data-format-type="bold" title="^loc_BOLD^"><i class="fa fa-bold"></i></button>
                <button type="button" class="btn btn-default" onclick="layoutFormat('italic')" data-format-type="italic" title="^loc_ITALIC^"><i class="fa fa-italic"></i></button>
                <button type="button" class="btn btn-default" onclick="layoutFormat('underline')" data-format-type="underline" title="^loc_UNDERLINE^"><i class="fa fa-underline"></i></button>
                <button type="button" class="btn btn-default" onclick="layoutFormat('strikeThrough')" data-format-type="strikethrough" title="^loc_STRIKETHROUGH^"><i class="fa fa-strikethrough"></i></button>
                <button id="clear_button" type="button" class="btn btn-default" onclick="clearAllLayoutStyles()" title="^loc_CLEAR_STYLES^"><i class="fa fa-ban"></i></button>
            </div>
            <div class="btn-group btn-group-sm" data-toggle="buttons">
                <button type="button" class="btn btn-default" onclick="layoutFormat('justifyleft')" data-format-type="justifyleft" title="^loc_ALIGN_LEFT^"><i class="fa fa-align-left"></i></button>
                <button type="button" class="btn btn-default" onclick="layoutFormat('justifycenter')" data-format-type="justifycenter" title="^loc_ALIGN_CENTER^"><i class="fa fa-align-center"></i></button>
                <button type="button" class="btn btn-default" onclick="layoutFormat('justifyright')" data-format-type="justifyright" title="^loc_ALIGN_RIGHT^"><i class="fa fa-align-right"></i></button>
                <button type="button" class="btn btn-default" onclick="layoutFormat('justifyfull')" data-format-type="justifyfull" title="^loc_JUSTIFY^"><i class="fa fa-align-justify"></i></button>
            </div>
            <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-default" onclick="layoutFormat('insertorderedlist')" data-format-type="insertorderedlist" title="^loc_ORDERED_LIST^"><i class="fa fa-list-ol"></i></button>
                <button type="button" class="btn btn-default" onclick="layoutFormat('insertunorderedlist')" data-format-type="insertunorderedlist" title="^loc_UNORDERED_LIST^"><i class="fa fa-list-ul"></i></button>
            </div>
            <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-default" onclick="showContentLayoutModal('add_layout_link')" title="^loc_INSERT_LINK^"><i class="fa fa-link"></i></button>
                <button type="button" id="media_button" class="btn btn-default" onclick="showContentLayoutModal('add_layout_media')" title="^loc_INSERT_MEDIA^"><i class="fa fa-picture-o"></i></button>
                <button type="button" id="media_button" class="btn btn-default" onclick="" title="^loc_INSERT_OBJECT^"><i class="fa fa-sitemap"></i></button>
            </div>
            <div class="btn-group btn-group-sm one_active">
                <button type="button" class="btn btn-default" onclick="showWYSIWYGView()" title="^loc_WYSIWYG_VIEW^"><i class="fa fa-pencil-square-o"></i></button>
                <button type="button" class="btn btn-default" onclick="showCodeView()" title="^loc_HTML_VIEW^"><i class="fa fa-code"></i></button>
                <button type="button" class="btn btn-default" onclick="showMarkdownView()" title="^loc_MARKDOWN_VIEW^"><i class="fa fa-dot-circle-o"></i></button>
            </div>
            <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-default" data-toggle="button" onclick="toggleLayoutFullscreen()" title="^loc_TOGGLE_FULLSCREEN^"><i class="fa fa-arrows-alt"></i></button>
            </div>
        </div>
    </div>
    <div class="content_layout form-control" onmouseup="onLayoutEditableChanged()">
        <div class="layout_editable" onkeyup="onLayoutEditableChanged()" contenteditable></div>
        <textarea class="layout_code" style="display: none" onkeyup="onLayoutCodeChanged()"></textarea>
        <textarea class="layout_markdown" style="display: none" onkeyup="onLayoutMarkdownChanged()"></textarea>
    </div>
</div>

<div class="modal fade" id="wysiwyg_modal_^wys_id^">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="add_layout_link">^loc_ADD_LINK^</span>
                <span class="add_layout_media">^loc_ADD_MEDIA^</span>
            </div>
            <div class="modal-body">
                <span class="add_layout_link">
                    <div class="form-group">
                        <label>^loc_LINK_URL^</label>
                        <input type="text" id="layout_link_url" name="layout_link_url" class="form-control"></input>
                    </div>
                    <div class="form-group">
                        <label>^loc_LINK_TEXT^</label>
                        <input type="text" id="layout_link_text" name="layout_link_text" class="form-control"></input>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="link_in_tab">^loc_LINK_IN_TAB^
                        </label>
                    </div>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <i class="fa fa-ban"></i>&nbsp;^loc_CANCEL^
                    </button>
                    <button id="add_link_button" type="button" class="btn btn-success" onclick="window.open($('#layout_link_url').val(), '_blank')">
                        <i class="fa fa-eye"></i>&nbsp;^loc_TEST_LINK^
                    </button>
                    <button id="add_link_button" type="button" class="btn btn-primary" onclick="addLayoutLink()">
                        <i class="fa fa-plus"></i>&nbsp;^loc_INSERT_LINK^
                    </button>
                </span>
                <span class="add_layout_media">
                    <label>^loc_SELECT_MEDIA^</label>
                    <div id="layout_media_options"></div>
                    <div id="layout_media_format" style="display: none; margin-bottom: .5em">
                        <label>^loc_MEDIA_FORMATTING^</label><br/>
                        <div id="media_position_radio" class="btn-group" data-toggle="buttons" style="margin-bottom: .5em">
                            <label class="btn btn-primary active">
                                <i class="fa fa-align-left"></i>&nbsp;
                                <input type="radio" name="media_position" id="left">^loc_LEFT^
                            </label>
                            <label class="btn btn-primary">
                                <i class="fa fa-align-center"></i>&nbsp;
                                <input type="radio" name="media_position" id="center">^loc_CENTER^
                            </label>
                            <label class="btn btn-primary">
                                <i class="fa fa-align-right"></i>&nbsp;
                                <input type="radio" name="media_position" id="right">^loc_RIGHT^
                            </label>
                        </div>
                        <div class="spacer"></div>
                        <label>^loc_MAXIMUM_HEIGHT^</label>
                        <div class="input-group">
                            <input type="number" id="media_max_height" name="media_max_height" class="form-control"></input>
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span id="media_max_height_unit">px</span>&nbsp;<span class="caret"></span></button>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:setMediaMaxHeightUnit('px')">px</a></li>
                                        <li><a href="javascript:setMediaMaxHeightUnit('em')">em</a></li>
                                        <li><a href="javascript:setMediaMaxHeightUnit('%')">%</a></li>
                                    </ul>
                                </button>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <i class="fa fa-ban"></i>&nbsp;^loc_CANCEL^
                    </button>
                    <button id="add_link_button" type="button" class="btn btn-primary" onclick="addLayoutMedia()">
                        <i class="fa fa-plus"></i>&nbsp;^loc_INSERT_MEDIA^
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/admin/elements/content_layout.js"></script>
