^error_success^
<form id="change_password_form" method="post" action="^site_root^/actions/user/manage_account/change_password">
    <fieldset>
        <div class="form-group">
            <label>^loc_OLD_PASSWORD^</label>
            <input type="password" id="old_password" name="old_password" class="form-control"></input>
        </div>
        <div class="form-group">
            <label>^loc_NEW_PASSWORD^</label>
            <input type="password" id="password" name="password" class="form-control" onkeyup="checkPasswordMatch()"></input>
        </div>
        <div class="form-group">
            <label>^loc_CONFIRM_PASSWORD^</label>
            <div class="input-group">
                <input type="password" id="confirm_password" name="confirm_password" class="form-control" onkeyup="checkPasswordMatch()"></input>
                <span class="input-group-addon"><i id="password_check" class="fa fa-thumbs-down" style="color: #AA0000"></i></span>
            </div>
        </div>
        <button type="button" class="btn btn-default" onclick="window.location = '^site_root^/user/manage_account';">
            <i class="fa fa-ban"></i>&nbsp;^loc_CANCEL^
        </button>
        <button type="submit" class="btn btn-primary">
            <i class="fa fa-save"></i>&nbsp;^loc_SAVE^
        </button>
    </fieldset>
</form>
<script type="text/javascript" src="^site_root^/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="^site_root^/js/user/manage_account/change_password.js"></script>
