<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-3">
            <ul id="sub_nav" class="nav nav-pills nav-stacked">
                <li id="section_map_pill">
                    <a href="javascript:loadAdminContent('^site_root^/admin/content/', 'sections', 'section_map')">^loc_SECTION_MAP^</a>
                </li>
                <li id="new_section_pill">
                    <a href="javascript:loadAdminContent('^site_root^/admin/content/', 'sections', 'new_section')">^loc_NEW_SECTION^...</a>
                </li>
            </ul>
        </div>
        <div id="sections_content" class="col-md-9"></div>
    </div>
</div>
<script type="text/javascript" src="^site_root^/js/admin/load_content.js"></script>
