<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-3">
            <ul id="sub_nav" class="nav nav-pills nav-stacked">
                <li id="manage_topics_pill">
                    <a href="javascript:loadAdminContent('^site_root^/admin/content/', 'topics', 'manage_topics')">
                        <i class="fa fa-list-alt"></i>&nbsp;^loc_MANAGE_TOPICS^
                    </a>
                </li>
                <li id="new_topic_pill">
                    <a href="javascript:loadAdminContent('^site_root^/admin/content/', 'topics', 'new_topic')">
                        <i class="fa fa-plus"></i>&nbsp;^loc_NEW_TOPIC^...
                    </a>
                </li>
                <li id="import_topics_pill">
                    <a href="javascript:loadAdminContent('^site_root^/admin/content/', 'topics', 'import_topics')">
                        <i class="fa fa-upload"></i>&nbsp;^loc_IMPORT_TOPICS^...
                    </a>
                </li>
            </ul>
        </div>
        <div id="topics_content" class="col-md-9"></div>
    </div>
</div>
<script type="text/javascript" src="^site_root^/js/admin/load_content.js"></script>
